.env
.idx
.vscode
env
docker_dev
static
account/__pycache__/
account/migrations/__pycache__
contact/__pycache__/
contact/migrations/__pycache__
core/__pycache__
core/django/__pycache__
core/settings/__pycache__