<div class="column ">
	<aside class="menu">
		<p class="menu-label">#General</p>
		<ul class="menu-list">
		<li><a>Dashboard</a></li>
		</ul>
		<p class="menu-label">#Contact</p>
		<ul class="menu-list">
		<li><a href="{% url 'contact_list' %}" title="Contacts">Contact list</a></li>
		</ul>
		<p class="menu-label">#Sale</p>
		<ul class="menu-list">
		<li><a>Payments</a></li>
		</ul>
		<p class="menu-label">#Marketing</p>
		<ul class="menu-list">
		<li><a>Payments</a></li>
		</ul>
		<p class="menu-label">#Report</p>
		<ul class="menu-list">
		<li><a>Payments</a></li>
		</ul>
		<p class="menu-label">#Integration</p>
		<ul class="menu-list">
		<li><a>API's</a></li>
		</ul>
	</aside>
</div>