{% extends 'layout_2.html' %}

{% block title %}Login{% endblock %}

{% load static %}

{% block content %}

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-4-widescreen">

                        <form class="box" hx-post="{% url 'login' %}" hx-target="#messages-container" hx-on:htmx:before-request="clientErrorCheck()">

                            <p class="title is-4 mb-5 py-3 has-text-centered">Crm/login</p>

                            {% include 'partials/message.html' %}

                            <div class="msg" id="messages-container"></div>

                            <div class="field">
                                <label for="user-input" class="label">Username</label>
                                <div class="control">
                                    <input type="text" name="username" class="input" id="user-input" placeholder="Username" minlength="3" title="Username" required>
                                </div>
                                <p class="help is-danger" id="danger-username"></p>
                            </div>

                            <div class="field">
                                <label for="password-input" class="label">Password</label>
                                <div class="control">
                                    <input type="password" name="password" class="input" id="password-input" placeholder="Password" minlength="5" title="Password" required>
                                </div>
                                <p class="help is-danger" id="danger-password"></p>
                            </div>

                            <p class="mt-4 content is-small">
                                <a href="{% url 'forgot_password' %}" class="has-text-light" title="Register">Forget Password?</a>
                            </p>

                            <div class="field">
                                <button type="submit" class="button is-primary is-fullwidth" title="Login">Log in</button>
                            </div>

                            <p class="has-text-centered mt-4 is-6">
                                <a href="{% url 'register' %}" class="has-text-light" title="Register">Don't have an account?</a>
                            </p>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

        function clientErrorCheck() {
            const userInput = document.getElementById('user-input');
            const dangerUser = document.getElementById('danger-username');

            const passwordInput = document.getElementById('password-input');
            const dangerPassword = document.getElementById('danger-password');

            userInput.addEventListener('input', () => {
                if (dangerUser.innerHTML !== '') {
                    dangerUser.innerHTML = '';
                    userInput.classList.remove('is-danger');
                }
            });

            passwordInput.addEventListener('input', () => {
                if (dangerPassword.innerHTML !== '') {
                    dangerPassword.innerHTML = '';
                    passwordInput.classList.remove('is-danger');
                }
            });

            document.addEventListener('htmx:afterRequest', (event) => {
                if (event.detail.target.id === 'danger-username' && event.detail.successful) {
                    userInput.classList.add('is-danger');
                }
            });

            document.addEventListener('htmx:afterRequest', (event) => {
                if (event.detail.target.id === 'danger-password' && event.detail.successful) {
                    passwordInput.classList.add('is-danger');
                }
            });
        };

    </script>

{% endblock %}