{% extends 'layout_2.html' %}

{% block title %}Register{% endblock %}

{% load static %}

{% block content %}

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-4-widescreen">

                        <form id="register-form" class="box" hx-post="{% url 'register' %}" hx-target="#messages-container" hx-on:htmx:before-request="clientErrorCheck()">

                            <p class="title is-4 mb-5 py-3 has-text-centered">Crm/register</p>

                            <div class="msg" id="messages-container"></div>

                            <div class="field">
                                <label for="user-input" class="label">Username</label>
                                <div class="control">
                                    <input type="text" name="username" class="input" id="user-input" placeholder="Username" minlength="3" title="Username" required>
                                </div>
                                <p class="help is-danger" id="danger-username"></p>
                            </div>

                            <div class="field">
                                <label for="email-input" class="label">Email</label>
                                <div class="control">
                                    <input type="text" name="email" class="input" id="email-input" placeholder="Email" minlength="5" title="Email" required>
                                </div>
                                <p class="help is-danger" id="danger-email"></p>
                            </div>

                            <div class="field">
                                <label for="password-input" class="label">Password</label>
                                <div class="control">
                                    <input type="password" name="password" class="input" id="password-input" placeholder="Password" minlength="5" title="Password" required>
                                </div>
                                <p class="help is-danger" id="danger-password"></p>
                            </div>

                            <div class="field">
                                <label for="confirm-password-input" class="label">Confirm Password</label>
                                <div class="control">
                                    <input type="password" name="confirm_password" class="input" id="confirm-password-input" placeholder="Password" minlength="5" title="Confirm Password" required>
                                </div>
                                <p class="help is-danger" id="danger-confirm-password"></p>
                            </div>

                            <div>
                                <div class="g-recaptcha" data-sitekey="6LcmAeEpAAAAAMskotNSLgvMD3aKb_2Hm5YpZtOl" data-callback="onSubmit" data-size="invisible" required></div>
                            </div>

                            <div class="field mt-5 mb-1">
                                <button type="submit" class="button is-primary is-fullwidth" title="Register">Register</button>
                            </div>

                            <p class="has-text-centered mt-4">
                                <a href="{% url 'login' %}" class="has-text-light" title="Forget Password">Already have an account?</a>
                            </p>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>

        function clientErrorCheck() {
            const userInput = document.getElementById('user-input');
            const dangerUser = document.getElementById('danger-username');

            const emailInput = document.getElementById('email-input');
            const dangerEmail = document.getElementById('danger-email');

            const passwordInput = document.getElementById('confirm-password-input');
            const dangerPassword = document.getElementById('danger-confirm-password');

            userInput.addEventListener('input', () => {
                if (dangerUser.innerHTML !== '') {
                    dangerUser.innerHTML = '';
                    userInput.classList.remove('is-danger');
                }
            });

            emailInput.addEventListener('input', () => {
                if (dangerEmail.innerHTML !== '') {
                    dangerEmail.innerHTML = '';
                    emailInput.classList.remove('is-danger');
                }
            });

            passwordInput.addEventListener('input', () => {
                if (dangerPassword.innerHTML !== '') {
                    dangerPassword.innerHTML = '';
                    passwordInput.classList.remove('is-danger');
                }
            });

            document.addEventListener('htmx:afterRequest', (event) => {
                if (event.detail.target.id === 'danger-username' && event.detail.successful) {
                    userInput.classList.add('is-danger');
                }
            });

            document.addEventListener('htmx:afterRequest', (event) => {
                if (event.detail.target.id === 'danger-email' && event.detail.successful) {
                    emailInput.classList.add('is-danger');
                }
            });

            document.addEventListener('htmx:afterRequest', (event) => {
                if (event.detail.target.id === 'danger-confirm-password' && event.detail.successful) {
                    passwordInput.classList.add('is-danger');
                }
            });
        };

    </script>
    <script defer src="https://www.google.com/recaptcha/api.js"></script>

{% endblock %}