{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% load static %}

{% block content %}

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-4-widescreen">

                        <form class="box" hx-post="{% url 'reset_password' token %}" hx-target="#messages-container">

                            <p class="title is-4 mb-5 py-3 has-text-centered">Cms/reset</p>

                            {% include 'partials/message.html' %}

                            <div class="msg" id="messages-container"></div>

                            <div class="field">
                                <label for="password-input" class="label">Password</label>
                                <div class="control">
                                    <input type="password" name="password" class="input" id="password-input" placeholder="Password" minlength="5" title="Password" required>
                                </div>
                                <p class="help is-danger" id="danger-password"></p>
                            </div>

                            <div class="field">
                                <label for="confirm-password-input" class="label">Confirm Password</label>
                                <div class="control">
                                    <input type="password" name="confirm_password" class="input" id="confirm-password-input" placeholder="Confirm Password" minlength="5" title="Confirm Password" required>
                                </div>
                                <p class="help is-danger" id="danger-confirm-password"></p>
                            </div>

                            <div class="field mt-5">
                                <button type="submit" class="button is-primary is-dark is-fullwidth" title="Reset">Reset</button>
                            </div>

                            <p class="has-text-centered mt-4">
                                <a href="{% url 'login' %}" class="has-text-light" title="Login">Log in back</a>
                            </p>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}